
<header class="container container-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h1 class="text-center"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <div class="tagline col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            A weekly newsletter for keeping on top of what's new in the world of WebAssembly, with tutorials, examples, articles, and more.
            Curated by <a href="{{ site.curator.url }}" target="_blank">{{ site.curator.name }}</a> and published for free every Friday.</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
